_site
.sass-cache
Gemfile.lock
*.gem
*~
*.zip
x
xx
/nbproject
docs/.jekyll-cache/
docs/.jekyll-metadata
*.psd
bin/
.debris/
docs/assets/img/logo.ORG.png
nohup.out
*.ORG
Latest/THOLONIA_THE_BOOK.pdf 
Latest/THOLONIA_THE_BOOK.epub
Latest/THOLONIA_THE_BOOK.html
/.jekyll-metadata 
/.jekyll-cache
docs/.rubocop.yml
docs/.travis.yml
Images/Thumbs.db
Images/Thumbs.db:encryptable
The--Life-of-Ideas.md
self-similar.md
Latest/THOLONIA_THE_BOOK_print-only.pdf
tmp.txt
